@model SPSTrainingMvcApp.Models.Technology

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Technology</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TechId" class="control-label"></label>
                <input asp-for="TechId" class="form-control" />
                <span asp-validation-for="TechId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechTitle" class="control-label"></label>
                <input asp-for="TechTitle" class="form-control" />
                <span asp-validation-for="TechTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechLevel" class="control-label"></label>
                <input asp-for="TechLevel" class="form-control" />
                <span asp-validation-for="TechLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
